<!-- Show the link at the top of the page during slides presentation,
     so audience members can type it after the presentation begins. -->
<h1 class="title-text"><a href="https://bitbucket.org/tokiotajs/modules_101">https://bitbucket.org/tokiotajs/modules_101</a></h2>

<!-- Embed the Google Docs presentation -->
<iframe src="https://docs.google.com/presentation/d/1YabTVJcnVLNCEwmV3vzAGt1Y5teOulP-yIiCTUbcMZ0/embed?start=false&loop=false&delayms=60000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<ul>
  <li ng-repeat="example in examples" class="example-entry">
    <a href="#/{{example.number}}">Example {{example.number}}</a> - {{example.message}}
  </li>
<ul>
